---
import Headers from "../layouts/Headers.astro";
---

<html lang="en" class="hide-scroll-bar bg-black">
  <Headers title="Sirius" />
  <body class="overflow-x-hidden">
    <div class="flex h-screen w-screen items-center justify-center py-6 sm:py-8 lg:py-12">
      <div class="mx-auto max-w-screen-md px-4 text-[#979797] md:px-8">
        <h1 class="mb-2 !font-sfdisplay text-2xl font-medium text-white sm:text-3xl md:text-5xl">Success</h1>
        <p class="mb-6 !font-sfdisplay sm:text-lg md:mb-8">
          Your account has been successfully linked. You may now close this page.
        </p>
        <div class="w-full text-center">
          <a href="/discord" class="text-[#979797] underline transition-colors duration-200 ease-in-out hover:text-[#ffffff]">Join our Discord →</a>
        </div>
      </div>
    </div>
  </body>
</html>
